<h5><%= t('words.template.substitute_vars') %></h5>

<% if @profile.extra_fields.present? %> 
  <div class="right-nav-bg">
    <% @profile.extra_fields.map(&:field_name).each do |field_name| %>
      <div class="e_specchar" data-value="*|<%= field_name %>|*"><%= field_name %></div>
    <% end %>
    <div class="e_specchar" data-value="*|email|*">email</div>
  </div>  
<% else %>
  <div class="e_specchar" data-value="*|email|*">email</div>
<% end %>


  

<script type="text/javascript">
  $(document).ready(function(){
     var selection = '';
     var cursorPos = '';
     var oldContent = '';
     var node = '';
     // var userAgent = window.navigator.userAgent;

     function isIE(userAgent) {
        userAgent = userAgent || navigator.userAgent;
        return userAgent.indexOf("MSIE ") > -1 || userAgent.indexOf("Trident/") > -1 || userAgent.indexOf("Edge/") > -1;
      }

     $('.summernote').summernote('focus');
    if (isIE()){
      $('.note-editable').on('keydown click focus',function(){
        selection = window.getSelection();
        cursorPos = selection.anchorOffset;
        oldContent = selection.anchorNode.nodeValue;
        node = selection.anchorNode;
        });
    }
    else{
      $('.note-editable').on('blur',function(){
        selection = window.getSelection();
        cursorPos = selection.anchorOffset;
        oldContent = selection.anchorNode.nodeValue;
        node = selection.anchorNode;
      });
    }

    $('.e_specchar').click(function(){
      var newContent
      if (typeof selection !== 'undefined') {
        var toInsert = $(this).attr('data-value');
        length = $(this).attr('data-value').length;

        if (oldContent !== null)
          newContent = oldContent.substring(0, cursorPos) + ' ' + toInsert + ' ' + oldContent.substring(cursorPos);
        else
          $('.summernote').summernote('insertText', $(this).data('value'));
        
        node.nodeValue = newContent;
        oldContent = newContent;
        cursorPos = cursorPos + length + 1;
      }
    });

  });
</script>

