<h4>Select variable to substitute in template</h4>

<% if @profile.extra_fields.present? %> 
  <div>
    <% @profile.extra_fields.map(&:field_name).each do |field_name| %>
      <div class="e_specchar" data-value="*|<%= field_name %>|*"><%= field_name %></div>
    <% end %>
    <div class="e_specchar" data-value="*|email|*">email</div>
  </div>  
<% else %>
  <div class="e_specchar" data-value="*|email|*">email</div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $(".e_specchar").on("click", function() { 
      $('.summernote').summernote('insertText', $(this).data('value'));
    });
  });
</script>