<div class="row">
   <div class="col-xs-4">
    <div class="title_left"><h2>Template list</h2></div><!-- title_left -->
  </div>
  <div class="col-xs-5 form-group pull-right top_search">
  <% if can? :read, Template %>
    <%= render 'shared/keyword_search', :condition => :name_cont %>
    <div class="advance-search">
            <%= link_to search_templates_path do %>
             <i class="fa fa-dot-circle-o"></i>
            <% end %>
    </div> 
  <% end %>  
  <% if can? :create, Template %>
    <div class="custom-add"><%= link_to new_template_path, :title => "New Template" do %><i class="fa fa-plus"></i><% end %></div>
  <% end %>    
  </div>              

</div><!--row-->
<div id="results">
  <%= render :partial => "results", :locals => {:templates => @templates} %>
</div>

