$('#user').html("<%= j (render @users) %>");
$('.selected-row-bottom').hide();
$('#select-all').prop('checked',false);
$('.display_flash').html("<div class='flash alert-success alert'><%= @message %></div>")