<div class="">
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>

    <div id="wrapper">
    	<div id="login" class="animate form">
    		<section class="login_content">
    
    			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    			<h1>Sperant</h1>
    			<div class="custom-user-name login-heading">
    				<h2>Forgot your password</h2>
    			</div>
    			<div class="custom-user-password">
    				<%= f.email_field :email, autofocus: true, :placeholder => t("devise.view.password.new.enter_email"), :class => "form-control", :maxlength => 255 %>
    			</div>
<div class="row">
                                <div class="col-sm-6" style="text-align: left;">
                                    <a class="reset_pass2" href= '/auth/users/sign_in' ><%= t("buttons.back")%></a> 
                                </div>

                                <div class="col-sm-6">
                    <%= f.submit t("devise.view.password.new.send") ,:class =>"btn btn-default form-control dark-theme-btn submit" %>
                                </div>
  
                            </div>
    			<div class="clearfix"></div>
			
			<% end %>
    		<!-- form -->
    	</section>
    	<!-- content -->
    </div>

    </div>
</div>


