<div class="row selected-row selected-row-bottom controller-<%=element%>">
  <div class="col-md-12 selected-td">
    <ul>
      <li><i class="fa fa-line-chart profile-enable"></i> Enable</li>
      <li><i class="fa fa-pencil"></i> Disable</li>
      <li class="custom-delete"><i class="fa fa-plus"></i> Delete</li>

    </ul>
  </div>
</div>