<div class="row selected-row selected-row-bottom " id='controller-<%=element%>'>
  <div class="col-md-12 selected-td">
    <ul>
      <li>
	      <%= link_to '#' , data: { confirm: 'Are you sure You want to enable selected?' } do %>
	            <i class="fa fa-line-chart profile-enable"></i>
	            <span>Enable</span>
	      <% end %>
      </li>
      <li>
	      <%= link_to '#' , data: { confirm: 'Are you sure You want to desable selected?' } do %>
	            <i class="fa fa-pencil"></i>
	            <span>Disable</span>
	      <% end %>
      </li>
      <li>
	      <%= link_to '#' , data: { confirm: 'Are you sure You want to delete selected ?' } do %>
	            <i class="custom-delete"></i>
	            <span>Delete</span>
	      <% end %>
      </li>

    </ul>
  </div>
</div>