<div class="row selected-row selected-row-bottom white_text" id='controller-<%= element.name.downcase.pluralize %>'>
  <div class="col-md-12 selected-td">
    <ul>
      <% if can? :update, element %>
        <li>
	      <%= link_to '#' , data: { confirm: 'Are you sure you want to enable records?' } do %>
	        <i class="fa fa-pencil profile-enable"></i>
	        <span>Enable</span>
	      <% end %>
      	</li>

      	<li>
	      <%= link_to '#' , data: { confirm: 'Are you sure you want to disable records?' } do %>
	        <i class="fa fa-pencil"></i>
	        <span>Disable</span>
	      <% end %>
      	</li>
      <% end %>
      <% if can? :destroy, element %>
      	<li>
	      <%= link_to '#' , data: { confirm: 'Are you sure you want to delete records?' } do %>
	        <span class="custom-delete"><i class="fa fa-plus"></i></span>
	        <span>Delete</span>
	      <% end %>
      	</li>
      <% end %>
    </ul>
  </div>
</div>