<%= search_form_for @q ,class: 'custom-input-search ' do |f| %>
  <div class="input-group">
    <%= f.search_field condition.to_sym, :class => "form-control", :placeholder => "Enter Keyword", :maxlength => 255 %>
    <span class="input-group-btn">
    <%= button_tag(type: 'submit', class: "btn btn-default") do %>
        <i class="fa fa-search"></i>
    <% end %>
    </span>
  </div><!-- input-group -->                  
<% end %>