<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th scope="col">Email</th>
		<% if profile.present? %>
			<% profile.extra_fields.map(&:field_name).each do |field|%>               
			  <th scope="col"><%= field %></th>
			<% end %>
		<% end %>
	</tr>
</table>
