<div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>

        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <h1>Sperant</h1>
                        <div class="custom-user-name">
                            <%= f.text_field :login, :autofocus => true , :class => "form-control" ,:placeholder => "Username", :maxlength => 150  %>
                        </div>
                        <div class="custom-user-password">
                            <%= f.password_field :password, autocomplete: "off",:class => "form-control", :placeholder => "Password", :maxlength => 150 %>
                        </div>
                        <div>
                            <%= f.submit "Login" , :class =>"btn btn-default form-control dark-theme-btn submit"%>
                            <a class="reset_pass" href= '/auth/users/password/new' >Lost your password?</a>                        </div>
                        <div class="clearfix"></div>
                        
                <% end %>
                 <!-- form -->
                </section>
                <!-- content -->
            </div>
            
        </div>
    </div>



