<div class="left_col" role="main">
              
  <div class="page-title">
    <div class="title_left"><h2>Edit Roles</h2></div><!-- title_left -->
      <!--title_right -->
      <div class="clearfix"></div>
<%= render 'form', role: @role, functions: @functions %>
</div>