<div class="left_col" role="main">
              
  <div class="page-title">
    <div class="title_left"><h2>Add Roles</h2></div><!-- title_left -->
      <!--title_right -->
      <div class="clearfix"></div>
      
      
      
  </div><!-- page-title -->
<%= render 'form', role: @role, functions: @functions %>
</div>