<div class="row">
<div class="page-title">
  <div class="title_left"><h2>Edit Campaign</h2></div><!-- title_left -->
    
    <div class="clearfix"></div>
    
    
    
</div><!-- page-title -->
</div><!--row-->
<%= render :partial => 'form' %>
