$('#campaign').html("<%= j (render @campaigns) %>");
$('.selected-row-bottom').hide();
$('#select-all > input').prop('checked',false);
$('.display_flash').html("<div class='flash alert-success alert'><%= @message %></div>")